<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr data-ng-repeat='item in order.items'>
            <td>{{item.name}}</td>
            <td>{{item.price}}€</td>
            <td>
                <input type="number" data-ng-model="item.qty" data-ng-required>
            </td>
            <td>
                <a data-ng-href data-ng-click='removeItem($index)'><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{total()}}€</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-controller="OrderCtrl">
    <button class="btn btn-success" data-ng-click='open()'>Done</button>
</div>

