<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="img-thumbnail img-responsive" data-ng-src='{{element.image.path}}' alt="element.name">
        <div class="caption">
            <h3>{{element.name}}</h3>
            <p>Price: {{element.price}}</p>

            <div ng-controller="RatingDemoCtrl">
                <p>
                    Rank: <rating value="rate" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                </p>
            </div>

            <p>Votes: {{element.votes}}</p>
            <p>Demanded: {{element.demanded}}</p>
            <p><a data-ng-href='#/element/{{element.id}}' class="btn btn-primary" role="button">Details</a> </p>
        </div>
    </div>
</div>