<div class="row custom-background-color-yellow">

    <sushi-helper message="help"></sushi-helper>

    <div class="col-lg-4">
        <div class="panel panel-default top-buffer">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default top-buffer">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default top-buffer">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>

</div>