body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #F7F7F6;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #333;
	background-color: #ffffff;
}