<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary pull-right" data-ng-click='login()'>login!</button>
            </form>
        </div>
    </div>
</div>
