<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-ng-click='add()'>Add </button>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <th>
                    #
                </th>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Rank
                </th>
                <th>
                    Price
                </th>
                <th>
                    Demanded
                </th>
                <th>
                    Votes
                </th>
                </thead>
                <tbody>
                <tr data-ng-repeat='element in elements' data-ng-click='edit(element)'>
                    <td>
                        {{element.id}}
                    </td>
                    <td>
                        <img class="img-thumbnail img-responsive" data-ng-src='{{element.image.path}}' alt='{{element.name}}'>
                    </td>

                    <td>
                        {{element.name}}
                    </td>
                    <td>
                        {{element.rank}}
                    </td>
                    <td>
                        {{element.price}}
                    </td>
                    <td>
                        {{element.demanded}}
                    </td>
                    <td>
                        {{element.votes}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>