<h1>Roles</h1>

<div class="panel panel-default top-buffer">

    <div class="col-xs-2 top-buffer bottom-buffer">
        <button type="button" class="btn btn-primary" data-ng-click='add()'>Nuevo</button>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
            </thead>

            <tbody>
                <tr data-ng-repeat='role in roles' data-ng-click='edit(role)'>
                    <td>
                        {{role.id}}
                    </td>
                    <td>
                        {{role.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
